<div class="card">
  <header class="card-header">
    <%= link_to 'heroine', class: 'card-header-title' do %>
      <%= cast_name %>
      <span class="icon has-text-grey-light">
        <i class="fas fa-external-link-alt"></i>
      </span>
    <% end %>
  </header>
  <div class="card-content is-paddingless">
    <%= high_chart(cast.to_s, @graphs[cast]) %>
  </div>
</div>
