<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title">このサイトについて</h1>
        <ul>
          <li>このサイトは個人が運営しており、株式会社バンダイナムコエンターテインメント様とは一切関係ありません。</li>
          <li>このサイトのグラフは <%= link_to('matsurihi.me', 'https://www.matsurihi.me/') %> 様が提供されているAPIをもとに作成されています。この場を借りて感謝申し上げます。</li>
          <li>本サービスやAPIの稼働状況によって、データの取得漏れが発生する場合があります。予めご了承ください。</li>
        </ul>
      </div>
    </div>
  </div>
</section>
